# Gradle
.gradle/
build/
app/build/
**/build/

# Logs
*.log

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Android
*.apk
*.ap_ 
*.dex
*.class

# Local config
local.properties

# Captures (Android Studio profiler/debugger)
captures/

# Keystore files (don’t upload private signing keys!)
*.jks
*.keystore
